<h1>Menu</h1>

<div class="card" style="width: 18rem;">
  <img src="https://s3.amazonaws.com/institucional-statics-files/site/uploads/Bloomin_Onion_cmyk_outback-368x250.png" class="card-img-top" alt="image">
  <h5 class="card-title">Item name</h5>
  <div class="card-body">
    <p class="card-text">Item description</div>
    <p class="card-text">$ Item price</div>
</div>