<h1>Menu</h1>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-6" style="margin-bottom:2em;">
      <div class="card">
        <img src="https://s3.amazonaws.com/institucional-statics-files/site/uploads/Bloomin_Onion_cmyk_outback-368x250.png" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text"><%= item.price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>