<h1>Menu</h1>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-sm-6" style="margin-bottom:2em;">
      <div class="card">
      <%= image_tag url_for(item.photo), class: 'card-img-top', alt: "#{item.name} photo" %>  
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
          <p style="font-size: 3em">$ <%= item.price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>